.AquiVoceEncontra-wrapper{
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
    width: 100%;
}

@media (max-width: 767px) 
{    
    .AquiVoceEncontra-wrapper{
        margin-top: 0px;
        padding-top: 20%;
        padding-bottom: 10%;
    }
}