.porquenos-wrapper {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6%;
    padding-bottom: 6%;
    justify-content: center;
    align-items: center;
    align-content: center;
}